/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    background-color: #F1FAEE;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    text-align: center;
   
}
 header img {
     float: left;
     margin-right: 10px;
     width: 60px;
 }

header h1 {
    margin: auto;
    font-size: 1.2rem;
    color: #1D3557;
    font-family: Monda;
}
header h2 {

    margin: auto; 
    font-weight: normal;
    font-size: 1rem;
    color:#457B9D;
    font-family: Monda;
}

h3, h4 {
    color: #457B9D;
    font-family: Monda;
    font-size: 1.5rem;
}

.title {
    color: #E63946;
    font-family: Monda;
    font-weight: 700;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #1D3557;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    margin: 5px;
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #F1FAEE;
    color: #457B9D
}
nav ul li.active a {
      color: #E63946;
      font-weight: 700;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}
main h1 {
    color: #457B9D;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}
/* footer Rules */
footer {
    color: #F1FAEE;
    background-color: #1D3557;
    height: auto;
    padding: 15px 0 5px 0;
  }
 /* Dave' Footer Stuff*/ 
  footer a:link {
    color:#F1FAEE;
  }
  footer a:visited {
    color: #F1FAEE;
  }
  /* mouse over link */
  footer a:hover {
    font-weight: bold;
    color: #457B9D;
  }
  
  .flag {
    height: 15px;
  }


 /* Page colors CSS*/

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: #1D3557;
    color: #F1FAEE;
  }
  .secondary {
    background-color: #457B9D;
    color: #F1FAEE;
  }
  .accent1 {
    background-color: #E63946;
    color: #F1FAEE;
  }
  .accent2{
    background-color: #F1FAEE;
  }
  

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}