/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  header,
  nav,
  main,
  footer {
    max-width: 64rem;
    margin: 0 auto;
  }

  nav ul li a {
    padding: 0.8rem 1.4rem;
  }

  header img {
    max-width: 180px;
  }

  .stats {
    padding: 1.5rem;
  }

  .article .image {
    max-width: 320px;
  }

  /*----------------------- Gallery --------------------*/
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  div.gallery:hover {
    box-shadow: 6px 6px 18px #1d3557;
  }

  /*----------------------- Towns --------------------*/
  .towns {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-grow: 1;
  }
  .towns section {
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: #c3d7f3;
    margin: 10px;
    border-radius: 2% 2% 25% 25%;
  }

  .towns h3 {
    vertical-align: middle;
    font-size: 1.2rem;
  }

  .towns img {
    max-width: 100%;
    width: 280px;
    border: 0;  
    box-shadow: 0 0 0;
  }
} /*end large */
